<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="app.appinfo"
      android:versionCode="1"
      android:versionName="Application&#xa;Information&#xa;1.0.0&#xa;Copyright &#169; Your Organization.&#xa;All rights reserved.">
	<supports-screens android:resizeable="true"/>
    <application android:label="@string/app_name">
        <activity android:name="AppInfo"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
